@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

.delete-account-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #f0f2f5;
  position: relative;
}

.delete-account-page h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.delete-account-page label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.delete-account-page input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.homepage {
  background-image: url("@/assets/home.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  color: rgb(0, 29, 101);
  text-align: center;
  position: relative;
}

.content {
  text-align: left;
  padding: 20px;
}

.header {
  position: absolute;
  bottom: 425px;
  left: 125px;
  font-size: 90px;
  margin-bottom: 10px;
  font-family: "Nunito", sans-serif;
}

.description {
  position: absolute;
  bottom: 310px;
  left: 145px;
  font-size: 20px;
  margin-bottom: 30px;
  font-family: "Nunito", sans-serif;
}

.homepage .button-container {
  position: absolute;
  bottom: 230px;
  left: 165px;
  display: flex;
  gap: 40px;
}

.homepage .login-button,
.homepage .create-account-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12.5px;
  padding: 15px 20px;
  transition: background-color 0.3s ease;
}

.homepage .login-button:hover,
.homepage .create-account-button:hover {
  background-color: #333;
}

/* Login page styling */
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #f0f2f5;
  position: relative;
}

.login-page h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-page label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.login-page input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-page .profile-icon-container {
  position: fixed;
  top: 10px;
  right: 10px;
}

.login-page .profile-icon {
  width: 40px;
  height: 40px;
  position: fixed; 
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.login-page .dropdown-menu {
  position: fixed;
  top: 60px; 
  right: 10px; 
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px;
  width: 150px; /* Adjust width as necessary */
}

.login-page .dropdown-menu button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
  text-align: left;
}

.login-page .dropdown-menu button:hover {
  background-color: #f0f0f0;
}

.login-page .sign-up-button {
  background-color: white;
  color: black;
}

.delete-account-page .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Darken the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.delete-account-page .popup-content {
  background: #fff;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 90%;
}

.delete-account-page .popup-buttons {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.profile-icon-container {
  position: fixed;
  top: 10px;
  right: 10px;
}

.profile-icon {
  width: 40px;
  height: 40px;
  position: fixed; 
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.dropdown-menu {
  position: fixed;
  top: 60px; 
  right: 10px; 
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px;
  width: 150px; /* Adjust width as necessary */
}

.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
  text-align: left;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
}

.error {
  color: red;
  margin-bottom: 10px;
}

@media (max-width: 400px) {
  .login-page form {
    width: 100%;
    padding: 20px;
  }

  .login-page .button-container {
    flex-direction: column;
  }

  .login-page .login-button,
  .login-page .forgot-password-btn {
    margin: 5px 0;
    width: 100%;
  }
}

.page-background {
  background-color: rgb(194, 237, 252);
  height: 100vh;
  width: 100vw;
}

.create-account-page .center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}